@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, lightblue, lightgreen);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 800px;
  background-color: white;
  border-radius: 10px;
}

.inputdiv {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputdiv #input {
  padding: 10px;
  width: 300px;
  border: 1px solid lightblue;
  border-radius: 4px;
  margin: 0px;
}

.btn {
  margin-top: 15px;
  background-color: lightgreen;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s, transform 0.3s;
}
.btn:active {
  transform: scale(0.98);
}
.btn:hover {
  background-color: green;
  color: white;
}

h1 {
  font-size: 16px;
}

.images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.para {
  font-size: 14px;
  color: red;
  margin: 8px;
}
.para.hidden {
  display: none;
}
