@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(178, 208, 226);
}

.container {
  width: 600px;
  height: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 600px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: width 0.3s cubic-bezier(0.28, -0.85, 0.25, 2.01),
    display 0.3s cubic-bezier(0.75, -0.86, 0, 1.56), transform 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.top-div {
  width: 500px;
  height: 300px;
  background: linear-gradient(to bottom, orange, orangered);
  border-radius: 5px 5px 0 0;
  position: relative;
  color: white;
  transition: height 0.5s ease;
}
.details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  display: flex;
  align-items: center;
}

.details .name .first {
  font-size: 20px;
  font-weight: bold;
}

.details .name .spoort {
  font-size: 21px;
  font-weight: bolder;
  margin: 0px;
}

.details .name .button {
  margin-left: 10px;
  background-color: #13d024;
  padding: 2px 4px;
  color: white;
  border-radius: 2px;
  font-size: 13px;
}

.basketball {
  font-size: 18px;
  margin-top: 3px;
}

.rating {
  font-size: 28px;
}
p {
  margin: 0px;
  font-size: 18px;
}

.buttondiv {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.buttondiv .viewdetails {
  background-color: #2c8bdb;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.buttondiv .price {
  background-color: #13d024;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
}

.buttondiv .viewdetails:active {
  transform: scale(0.98);
}

.nike {
  width: 100px;
  position: absolute;
  top: 0;
  padding: 10px;
}

.shoe {
  width: 380px;
  position: absolute;
  right: -80px;
  top: -30px;
  transition: transform 0.3s ease-in-out;
}
.top-div h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 100px 0 0 0;
  padding: 0px 30px;
}
.top-div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 30px;
  margin-top: 15px;
}

.card:hover .shoe {
  transform: translateX(15px);
}

.card:hover {
  transform: translateY(-15px);
}

.card.active {
  width: 1200px;
  display: flex;
  flex-direction: row;
}

.details.active {
  width: 800px;
}

.shoe.active {
  display: none;
}

/* CSS for detail page */
.oldprice {
  color: red;
  text-decoration: line-through;
  font-size: 18px;
}

.newPrice {
  color: blue;
  font-weight: bold;
  font-size: 18px;
}

.productDetails {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 25px;
}

.table {
  padding: 0px 10%;
  margin-top: 10px;
  font-size: 18px;
}

.table .condition {
  display: flex;
  justify-content: space-between;
}

.table .condition .conditionText {
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.table .condition .answer {
  color: green;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cart {
  width: 100%;
  border-radius: 3px;
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
}

.cart span {
  margin-top: 5px;
  width: 120px;
  background-color: rgb(79, 79, 230);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.image_slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.image_slider img {
  width: 500px;
  height: 300px;
  flex-shrink: 0;
  object-fit: cover;
}

.thumbnail {
  display: flex;
  margin-top: 5px;
  margin-bottom: 2px;
  gap: 10px;
  padding-left: 5px;
  overflow: hidden;
}
.thumbnail img {
  width: 140px;
  height: 100px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.thumbnail img.active {
  transform: scale(1.05);
}

.top-div.active {
  height: 100%;
  overflow: hidden;
  background: white;
}
