body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 15px;
}

.container span {
  font-size: 50px;
  cursor: pointer;
  color: black;
  transition: color 0.3s linear;
}

.star.active {
  color: orange;
}
