@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: white;
}

.faq-container {
  width: 800px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-item {
  width: 100%;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #565656;
  color: white;
  padding: 20px 10px;
  border-radius: 2px;
  cursor: pointer;
}

.question h2 {
  font-size: 20px;
  margin: 0;
}

.answer {
  width: 780px;
  max-height: 0;
  overflow: hidden;
  background-color: #787878;
  color: white;
  padding: 0 10px;
  border-radius: 2px;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-30%);
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}




