@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #141313;
}

.container {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
}

.square {
  background-color: #3e3e3e;
  width: 16px;
  height: 16px;
  margin: 2px;
  transition: 1.5s ease;
}

.square:hover {
  transition-duration: 0s;
}
