@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search .input {
  height: 28px;
  width: 28px;
  border: none;
  transition: width 0.3s ease;
}

.btn {
  width: 22px;
  height: 22px;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  border: 1px solid black;
  background-color: aquamarine;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0px 4px;
}

.search.active .btn {
  transform: translateX(120px);
}
