@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(62, 161, 227);
}

.container {
  width: 400px;
  background-color: burlywood;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.btn {
  background-color: rgb(159, 89, 224);
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: blueviolet;
}

.btn:active {
  transform: scale(0.98);
}

p {
  font-weight: bold;
  font-size: 22px;
}
h1 {
  margin-bottom: 6px;
  font-size: 14px;
  color: rgb(253, 253, 253);
}
