body {
  background-color: #2e2f44;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #171823;
  width: 300px;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}
