@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 238, 247);
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  align-items: center;
}

label {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  border: 2px solid lightblue;
  border-radius: 4px;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  margin-bottom: 20px;
}

.submit {
  width: 100%;
  background-color: rgb(53, 53, 243);
  border: none;
  padding: 10px 0px;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.submit:hover {
  background-color: blue;
}

.submit:active {
  transform: scale(0.98);
}

.container .QrImage {
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.container .QrImage.active {
  width: 200px;
  padding: 4px;
  max-height: 200px;
  border: 2px solid #c1c1c1;
  border-radius: 2px;
  margin-bottom: 10px;
}
