@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



/* body {
  font-family: 'Poppins', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
} */
