@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

body {
  font-family: "Muli", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

img.menu {
  width: 18px;
  margin: 10px;
  height: auto;
  position: absolute;
  top: 0;
  transform: translateY(13px);
  cursor: pointer;
}

.logo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.logo-div .close {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
svg.logo {
  width: 100px;
}

.black {
  background-color: black;
  width: 295px;
  transition: transform 0.5s ease-in-out; 
}

.red {
  background-color: red;
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 0.5s ease-in-out; 
}

.white {
  background-color: white;
  width: 265px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: transform 0.5s ease-in-out; 
}

ul li {
  list-style-type: none;
  padding: 0px;
}

.white.active {
  transform: translateX(-265px);
}
.red.active {
  transform: translateX(-280px);
}

.black.active {
  transform: translateX(-295px);
}
